MONGODB_URI="mongodb+srv://<username>:<password>@<cluster>/<db>?retryWrites=true&w=majority"
PUBLIC_SOCKET_SERVER_URL="http://localhost:8787"
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_<store>_<token>"
MAX_SINGLE_UPLOAD_BYTES="52428800"
USER_UPLOAD_QUOTA_BYTES="104857600"
APP_FILE_STORAGE_SOFT_LIMIT_BYTES="1073741824"
MONGODB_STORAGE_SOFT_LIMIT_BYTES="1073741824"
