@tailwind base;
@tailwind components;
@tailwind utilities;


/* Minimalist, thin scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    padding: 4px;
    margin: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
    margin: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

